.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pageTitle {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-family: "Monterrat";
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
}
@media (max-width: 1000px) {
    .pageTitle {
        font-size: 6.4vw;
    }
}
