.carouselItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 15px;
}
.carouselImg {
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px;
}
